/*Colors*/
$white: #fff;
$black: #000;
$black2: #282C3F;
$black3: #60616F;

$gray: #8C979D;
$gray2: #D0D0D8;
$gray3: #848995;

$bg: #F8F9FC;

$act: #D88D4C;

$bord:  #E0E0E8;

/*Styles*/
$font-family: 'Montserrat', sans-serif;